<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wys.interview">

    <application>
        <activity android:name=".android.ViewActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>